<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>


    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- MY CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/{{style}}.css">
    
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<body>
    <header id="hd" class="headerP">
        <div class="containerH">
            <div class="logo">
                <a href="#"><img src="https://fontmeme.com/permalink/200331/a4ca015c220a8b1fd12ceef5a8edc137.png" alt="discord-logo-font" border="0"></a>
            </div>

                <div class="searchIco">
                    <label id="myBtn">
                        <span class="material-icons">search</span>
                    </label>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="themodal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" style="display: none;">&times;</span>
                    <input type="text" id="textC" class="search" placeholder="Busca tu pelicula" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Busca tu pelicula'">
                    <button onclick="clearText();"><span class="closeC material-icons">keyboard_backspace</span></button>
                </div>

                </div>

                
        </div>
    </header>
    {{{body}}}



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>