    <header id="hd" class="headerP">
        <div class="containerH">
            <div class="logo">
                <a href="/"><img class="logoFont"  src="/img/logo.png" alt="discord-logo-font" border="0"></a>
            </div>
                <div class="searchIco">
                    <label id="myBtn">
                        <span class="material-icons">search</span>
                    </label>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="themodal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" style="display: none;">&times;</span>
                    <form method="GET" id="search" action="/search">
                    <input type="text" name="nombre_pelicula" id="textC" class="search" placeholder="Busca tu pelicula" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Busca tu pelicula'">
                    </form>
                </div>

                </div>

        </div>
    </header>