    <header id="hd" class="headerP">
        <div class="containerH">
 
            <div class="mailer" id="mailerButton">
                <span class="material-icons">
                    mail
                </span>
            </div>
            <!-- Equisde -->
            <div id="modalMailer" class="modalMailer">
            <div class="mailer-content">
                <p class="pressesc" style="color: white;">Presione (ESC)</p>
               		<a href="/">
                    <span class="material-icons backF">
                    keyboard_backspace
                    </span>
                    </a>
                <img class="trending" src="/img/covid.jpg" alt="">
                <span class="closeMailer" style="display: none;">&times;</span>
                <form autocomplete="off">
                    <input type="text" id="peticionPeli" placeholder="Nombre de tu peli"><br>
                    <input type="text" id="peticionPeli2" placeholder="Tu correo @">
                    <input type="submit" value="Enviar">
                </form>
                <p style="color: white;font-size:14px;">Intentamos de responder todas las peticiones lo más antes posible</p>
            </div>
            </div>


            <div class="logo">
                <a href="/"><img class="logoFont"  src="/img/logo.png" alt="discord-logo-font" border="0"></a>
            </div>
                <div class="searchIco">
                    <label id="myBtn">
                        <span class="material-icons search">search</span>
                    </label>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="themodal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" style="display: none;">&times;</span>
                    <form method="GET" id="search" action="/search">
                    <input type="text" name="nombre_pelicula" id="textC" class="search" placeholder="Busca tu pelicula" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Busca tu pelicula'">
                    </form>
                </div>

                </div>

        </div>
    </header>