{{> handler}}

<div class="container" style="padding-top:90px;">
    <h1 style="color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        text-align:center;
        width:100%;
    ">¡Uy! , parece que no se encuentra la peli !<br> :(</h1>
    <a href="/" class="volverI">VOLVER</a>
</div>