
{{> handler}}

	  	  	<div class="contentD">
			<div class="containerContent">
			<div class="descripcion">
				{{#each pelicula}}
                <h1 style="color: white;">{{nombre_pelicula}}</h1>
				{{/each}}
			</div>
		</div>
	  </div>