/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
html, body {
  height: 100%;
  margin: 0;
  background: rgba(0,0,0,0.8);
}


.carousel-inner {
  background-color: #333;
}

/* NAV BAR */


.logo a {
  background: transparent;
}
/* HEADER ***************** 

//////*
/* HEADER *****************
*/

.headerP {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.containerH {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 1rem;
}

/*
----------LOGO CSS
*/

.logo {
  float: left;
}



/*
------------BUSCADOR CSS
*/


::placeholder{
  color: white;
}


.searchIco {
  float: right;
  padding: 10px;
}

.searchIco span {
  cursor: pointer;
}
.material-icons {
  font-size: 30px;
  color: white;
}

.material-icons:hover {
  color: #ff942a;
}

.themodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 990; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  margin: auto;
  width: 100%;
  background: transparent;
  border: none;
}

.closeC {
  position: absolute;
  left: 88%;
  top: 30%;
  cursor: pointer;
}

.modal-content input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 10px 10px 10px 5.5%;
  appearance: none;
  width: 88%;
  height: 60px;
  background: transparent;
  color: white;
  padding: 10px;
  padding-left: 30px;
  border: 2px white solid;
  font-size: 20px;
  font-weight: lighter;
}

.modal-content input[type=text]:focus {
  border: 2px solid #ff942a;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  font: inherit;
  outline: none;
}



/*//////****************** SLIDER CSS
*/

.contentD{
  position: absolute;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  top: 60%;
  color: white;

}

.containerContent {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 1rem;
}

.descripcion {
  width: 600px;
  text-align: inherit;
  float: left;
}

.statusP {
  width: 600px;
  float: left;
}

.eyeP {
  font-size: 15px;
  float: left;
  margin-top: 2px;
  margin-right: 7px;
}

.eyeE {
 float: left;
 font-size: 12px;
 margin-right: 7px;
}

.heart {
  float: left;
  margin-top: -2px;
}

.heart span {
  font-size: 16px;
}

.dateP {
  float: left;
  font-size: 12px;
  margin-right: 7px;
}
.badge {
  float: left;
  background: transparent;
  border: 1px solid white;
  font-size: 10px;
  margin-right: 7px;
}

.eyeP:hover {
  color: white;
} 

.heart span:hover {
  color: red;
}

.heart:focus {
  color: transparent;
}

button:focus {
  outline:0;
}

.heart:active {
  color: transparent;
}

.title {
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 3px 3px 3px black;
}
.descripcionP {
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 2px black;
}


.verP {
  height: 40px;
  padding: 8px 35px 8px;
  color: white;
  background-color: #ff0000;
}

.verP:hover{
  text-decoration: none;
  background: #bd0000;
  color: white;
}
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev {
  width: 5%;
}

.carousel, .item,.active{height: 100%;}
.carousel-item img{
  object-fit:cover;
  object-position: 50% 0%;
  height: 100vh;
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(white 20%, transparent 99%);
  filter: brightness(40%);
}


/* CONTAINER AND ALL MAIN CSS IN HERE 
////////////////////////********************************/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.carousel-indicators .active {
  background: #ff942a;
  padding-top: 5px;
}

@media only screen and (min-width: 100em) {
  .container {
    max-width: 1700px;
  }
  .containerContent {
    max-width: 1700px;
  }
  .containerH {
    max-width: 1700px;
  }
}

@media (max-width: 600px) {

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    box-sizing: border-box;
    z-index: 990;
  }
  .searchIco {
    margin-top: 10px;
  }

  .modal-content input[type=text] {
    width: 100%;
    background: transparent;
    margin: initial;
    border-radius: 0px;
    border: 2px solid red;
    padding-left: 40px;
    font-size: 17px;
  }

  .closeC {
    left: 90%;
  }

  .descripcion {
    width: 92%;
    font-size: 15px;
  }

  .contentD {
    top: 25%;
  }
}