/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
html, body {
  height: 100%;
  margin: 0;
  background: rgba(0,0,0,0.8);
}


.carousel-inner {
  background-color: #333;
}

/* NAV BAR */


.logo a {
  background: transparent;
}
/* HEADER ***************** 

//////*
/* HEADER *****************
*/

.headerP {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.containerH {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 1rem;
}

/*
----------LOGO CSS
*/

.logo {
  float: left;
}



/*
------------BUSCADOR CSS
*/


::placeholder{
  color: white;
}


.searchIco {
  float: right;
  padding: 10px;
}

.searchIco span {
  cursor: pointer;
}
.material-icons {
  font-size: 30px;
  color: white;
}

.themodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  margin: auto;
  padding: 20px;
  width: 100%;
  background: transparent;
  border: none;
}

.closeC {
  position: absolute;
  left: 70%;
  top: 34%;
  cursor: pointer;
}

.modal-content input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0 auto;
  appearance: none;
  width: 50%;
  height: 60px;
  background: transparent;
  color: white;
  padding: 10px;
  border: 2px #ff942a solid;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  font: inherit;
  outline: none;
}



@media only screen and (min-width: 100em) {
  .containerH {
    max-width: 1700px;
  }

}



/*//////****************** SLIDER CSS
*/

.contentD{
  position: absolute;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  top: 30%;
  left: 5.1%;
  color: white;

}

.descripcion {
  width: 600px;
  text-align: inherit;
}

.title {
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 3px 3px 3px black;
}
.descripcionP {
  margin-bottom: 40px;
}
.verP {
  height: 40px;
  padding: 8px 35px 8px;
  color: white;
  background-color: #ff0000;
}

.verP:hover{
  text-decoration: none;
  background: #bd0000;
  color: white;
}
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev {
  width: 5%;
}

.carousel, .item,.active{height: 100%;}
.carousel-item img{
  object-fit:cover;
  object-position: 50% 0%;
  height: 100vh;
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(white 20%, transparent 99%);
  filter: brightness(40%);
}


/* CONTAINER AND ALL MAIN CSS IN HERE 
////////////////////////********************************/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.carousel-indicators .active {
  background: #ff942a;
  padding-top: 5px;
}

@media only screen and (min-width: 100em) {
  .container {
    max-width: 1700px;
  }
  .contentD {
    max-width: 1700px;
  }
}

@media (max-width: 600px) {

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    box-sizing: border-box;
    z-index: 990;
  }
  .searchIco {
    margin-top: 10px;
  }

  .modal-content input[type=text] {
    width: 100%;
  }

  .closeC {
    left: 87%;
  }

  .descripcion {
    width: 80%;
    font-size: 15px;
  }
}