/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
html, body {
  height: 100%;
  margin: 0;
  background: #333;
}


.carousel-inner {
  background-color: #333;

}
/*
Hola
*/
/* NAV BAR */

.logo img {
  margin-top: 10px;
}

#myBtn {
  margin-bottom: 0;
  margin-top: 5px;
}

/* HEADER ***************** 

//////*
/* HEADER *****************
*/




.headerP {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
}

.containerH {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 1rem;
}

/*
----------LOGO CSS
*/

.logo {
  float: left;
}



/*
------------BUSCADOR CSS
*/


::placeholder{
  color: white;
}


.searchIco {
  float: right;
  padding: 10px;
}

.searchIco span {
  cursor: pointer;
}
.material-icons {
  font-size: 30px;
  color: white;
}

.material-icons:hover {
  color: #ff942a;
}

.themodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  margin: auto;
  width: 100%;
  background: transparent;
  border: none;
}

.modal-content input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 10px 10px 10px 5.5%;
  appearance: none;
  width: 88%;
  height: 60px;
  background: transparent;
  color: white;
  padding: 10px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: lighter;
}


button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  font: inherit;
  outline: none;
}

.modalMailer {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/*//////****************** SLIDER CSS
*/

.contentD{
  position: absolute;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  top: 60%;
  color: white;

}

.containerContent {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 1rem;
}

.descripcion {
  width: 600px;
  text-align: inherit;
  float: left;
}

.statusP {
  width: 600px;
  float: left;
}

.eyeP {
  font-size: 15px;
  float: left;
  margin-top: 2px;
  margin-right: 7px;
}

.eyeE {
 float: left;
 font-size: 12px;
 margin-right: 7px;
}

.heart {
  float: left;
  margin-top: -2px;
}

.heart span {
  font-size: 16px;
}

.dateP {
  float: left;
  font-size: 12px;
  margin-right: 7px;
}
.badge {
  float: left;
  background: transparent;
  border: 1px solid white;
  font-size: 10px;
  margin-right: 7px;
}

.badge-secondary {
  background-color: rgb(229,9,20) !important;
}

.eyeP:hover {
  color: white;
} 

.heart span:hover {
  color: red;
}

.heart:focus {
  color: transparent;
}

button:focus {
  outline:0;
}

.heart:active {
  color: transparent;
}

.title {
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 3px 3px 3px black;
}
.descripcionP {
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 2px black;
}


.verP {
  height: 40px;
  padding: 8px 35px 8px;
  color: white;
  background-color: #ff0000;
}

.verP:hover{
  text-decoration: none;
  background: #bd0000;
  color: white;
}
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev {
  width: 5%;
}

.carousel, .item,.active{height: 100%;}
.carousel-item img{
  object-fit:cover;
  object-position: 50% 23%;
  height: 100vh;
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(white 20%, transparent 99%);
  filter: brightness(40%);
}


/* CONTAINER AND ALL MAIN CSS IN HERE 
////////////////////////********************************/


.containerAll {
  width: 100%;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carousel-indicators {
  z-index: 1;
}
.carousel .carousel-indicators li {
  border-radius: 0px;
}

.carousel-indicators .active {
  background: #ff942a;
  padding-top: 5px;
}


/*
------------------------------ GALLERY IMAGES
*/


.favTitle {
  font-size: 40px;
  float: left;
}
.star {
  margin-top: 12px;
  font-size: 30px;
  margin-left: 10px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #333;
  border-radius: 5px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-mask-image: -webkit-linear-gradient(white 20%, transparent 99%);
  filter: brightness(100%);
}
.netflix-carousel {
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  margin: 0 auto;
}

.swiper-slide:hover {
  transform: scale(1.1); 
}


.containerSwiper {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.containerSwiper:hover .image {
  opacity: 0.3;
}

.containerSwiper:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  padding: 5px;
}

.eyeSwiper {
  font-size: 20px;
}

.eyeSwiper:hover {
  color: white;
}

.textoSwiper {
  margin-top: -10px;
}

.linkSwiper {
  color: white;
  text-decoration: none;
}
.linkSwiper:hover {
  color: white;
}

/*
-------------------- ALL IMAGE CESS
*/


.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
  margin-right: -25px;
  margin-left: -25px;
  margin-top: 20px;

}

.card-body {
  padding: 0;
}

.card-deck img {
  object-fit:cover;
  object-position: 50% 23%;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.card{
  margin-top: 15px;
  background: none;
}

/*
--------------------------------- 404 #
*/

@media only screen and (min-width: 100em) {
  .containerAll {
    max-width: 1700px;
  }
  .containerContent {
    max-width: 1700px;
  }
  .containerH {
    max-width: 1700px;
  }
  .swiper-wrapper {
    padding-left: 0;
  }

  .favTitle {
    padding-left: 0;
  }
  .container {
    max-width: 1700px;
  }
}

.todasLasPelis {
  width: 100%;
  margin-top: 20px;
  height: auto;
  padding: 15px;


  background: -moz-linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(170,1,1,1) 50%, rgba(108,0,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(170,1,1,1) 50%, rgba(108,0,0,1) 100%);
  background: linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(170,1,1,1) 50%, rgba(108,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bd0000",endColorstr="#6c0000",GradientType=1);
  
}
.todasLasPelis .textTodasLasPelis {
  font-size: 40px;
  text-shadow: 3px 3px 3px black;

}

.todasLasPelis .text1TodasLasPelis {
  width: 700px;
  font-size: 15px;
  text-shadow: 3px 3px 3px black;
}


/*
----
*/

.imbd {
  margin-top: -7px;
  margin-left: 10px;
  float: left;
}

.imdbRatingPlugin {
  float: left;
}

.imbd a{
  color: white;
}


/*
----------------- 
*/

.mailer {
  position: fixed;
  display: block;
  background-color: rgba(108,0,0,1);
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  right: 20px;
  z-index: 20;
  bottom: 20px;
  cursor: pointer;
}

.mailer:hover {
  background: rgb(161, 0, 0);
}

.mailer span{
  margin-top: 15px;
}
.mailer span:hover{
  color: white;
}
span.rating{
  color: #cf0000;
}

.modalMailer{
  background: #2b353f;
}

.mailer-content {
  width: 700px;
  height: auto;
  padding: 30px;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}
.trending {
  width: 100%;
}

.mailer-content input{
  padding: 10px;
  margin: 10px;
  background: #5c7288;
}

.mailer-content input[type=text] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px 10px 10px 5.5%;
    appearance: none;
    width: 88%;
    height: 60px;
    background: #202830;
    color: white;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    border-radius: 8px;
}

.mailer-content input[type=submit]{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100px;
  border-radius: 30px;
  background-color: #5c6bc0;
  color: white;
}

.backF {
  display: none;
}

@media (max-width: 600px) {

  .backF {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    font-size: 50px;
  }
  .backF:hover{
    color: white;
  }

  .pressesc{
    display: none;
  }
  .mailer-content {
    width: 100%;
  }

  .modalMailer{
    padding: 15px;
  }

  .star {
    margin-top: 30px;
  }

  .logo img {
    width: 150px;
  }

  .textTodasLasPelis a img{
    width: 200px;
  }

  .card-deck {
    margin: 9px;
  }
  .todasLasPelis .text1TodasLasPelis{
    width: auto;
  }
  .favTitle{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .containerAll img{
    object-fit:cover;
    object-position: 0% 0%;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);

  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    box-sizing: border-box;
    z-index: 20;
  }


  .searchIco {
    margin-top: 10px;
  }

  .modal-content input[type=text] {
    width: 100%;
    background: transparent;
    margin: initial;
    border-radius: 0px;
    background: black;
    border: none;
    padding-left: 40px;
    font-size: 17px;
  }

  .closeC {
    left: 90%;
  }

  .descripcion {
    width: 92%;
    font-size: 15px;
  }

  .contentD {
    top: 25%;
  }
}